
* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  /* border: 1px solid steelblue; */
}

html {
  min-height: 100%;
}

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(255, 253, 163);
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
